# SMTP Configuration
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false

# Email Recipients / Senders
CONTACT_RECEIVER_EMAIL=info@gastro-kompass.at
CONTACT_SENDER_EMAIL="Gastrokompass Contact" <no-reply@gastrokompass.at>
